services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: offers
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d offers"]
      interval: 5s
      timeout: 3s
      retries: 20
  redis:
    image: redis:7
    ports:
      - "6379:6379"
